.quick-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.quick-card {
  min-height: 137px;
  border: 1px solid var(--border);
  border-radius: 9px;
  background: linear-gradient(135deg, #141d23, #0e151a);
  padding: 18px;
  display: grid;
  grid-template-columns: 55px 1fr 20px;
  gap: 14px;
  align-items: center;
  position: relative;
}
.quick-card i {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-style: normal;
  font-size: 25px;
  background: #222;
  color: #fff;
}
.quick-card.red i {
  background: #732222;
}
.quick-card.blue i {
  background: #153765;
}
.quick-card.green i {
  background: #124c36;
}
.quick-card.gold i {
  background: #58401a;
}
.quick-card h3 {
  font-size: 15px;
}
.quick-card p {
  font-size: 12px;
  color: #ddd;
  margin-top: 4px;
}
.quick-card > b {
  align-self: end;
  color: var(--red);
  font-size: 23px;
}
